@model TourTravel_Web.Areas.Admin.CustomModels.EnquiryVM
@{
    ViewBag.Title = "Enquiry Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .table th {
        background: #1a3844 !important;
    }

    .fare {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Bookman Old Style';
        color: #2a4a21;
    }

    .font-20 {
        font-size: 20px;
    }

    .day {
        font-weight: bold;
        font-size: 30px;
        font-family: 'Comic Sans MS';
    }

    .iti-feat {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 13px;
    }
</style>
<div class="title-div">
    <i class="fa fa-hand-o-right"></i>&nbsp;
    <span class="title">Client Enquiry</span>&nbsp;
    <small>Details</small>
</div>
<div class="card">
    <div class="card-header bg-head">
        <div>
            <span class="display-5 text-white">@Model.Enquiry.PackageName</span> &nbsp;&nbsp;<b class="text-muted">@Model.Enquiry.NoOfDays&nbsp;Days/@(Model.Enquiry.NoOfDays - 1)&nbsp;Nights</b>
            <br />
            <b class="text-danger">@Model.Enquiry.FinalFare.ToString("#,#", System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN")) / @Model.Enquiry.FarePer</b>
        </div>
    </div>
    <div class="card-body">
            <h4>Client Information</h4>
            <div>
                <h5 class="text-muted text-capitalize">Mr./Mrs. @Model.Enquiry.ClientName</h5>
                <span class="font-weight-bold"><i class="fa fa-envelope text-info"></i> @Model.Enquiry.ClientEmail &nbsp;&nbsp; <i class="fa fa-phone text-info"></i> @Model.Enquiry.ClientPhoneNo</span>
                <br />
                <div class="row mt-2" style="font-size:13px;">
                    <p class="col-md">
                        Date of Arrival : <b>@Model.Enquiry.DateOfArrival.ToString("dd MMM yyyy")</b>
                        <br />
                        Guests : <b>@Model.Enquiry.NoOfAdult Adults, @Model.Enquiry.NoOfChildren Children</b>
                        <br />
                        Duration : <b>@Model.Enquiry.NoOfDays Days / @(Model.Enquiry.NoOfDays - 1) Nights</b>
                    </p>
                    <p class="col-md">
                        Hotel Type : <b>@Model.Enquiry.HotelTypeName</b>
                        <br />
                        Cab Type : <b>@Model.Enquiry.CabTypeName</b>
                        <br />
                    </p>
                </div>
                <small>Remarks : @Model.Enquiry.Remarks</small>
            </div>

        <hr />
        <div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th colspan="2">
                        ITINERARIES
                    </th>
                </tr>
                @if (Model.Itineraries.Count() > 0)
                {
                    foreach (var item in Model.Itineraries)
                    {
                        <tr>
                            <td class="text-center" style="vertical-align:middle">
                                <span class="day">DAY @item.DayNo</span>
                            </td>
                            <td>
                                <div>
                                    <h5>@item.ItineraryName</h5>
                                    <small>@item.ItineraryRemarks</small><br />
                                    @if (!(item.OvernightDestinationID == null && item.OvernightDestination == null))
                                    {
                                        if (item.OvernightDestination != null)
                                        {
                                            <small>Overnight - @item.OvernightDestination</small>
                                        }
                                        else
                                        {
                                            <small>Overnight - @item.DestinationName</small>
                                        }
                                    }

                                </div>
                                <div>
                                    @if (item.SightSeeing)
                                    {
                                        <span>
                                            <small class="iti-feat"><i class="fa fa-eye text-success"></i>&nbsp;&nbsp;Sightseeing</small> &nbsp;&nbsp;
                                        </span>
                                    }
                                    @if (item.Breakfast)
                                    {
                                        <span>
                                            <small class=" iti-feat"><i class="fa fa-cutlery text-danger"></i>&nbsp;&nbsp;Breakfast</small> &nbsp;&nbsp;
                                        </span>
                                    }
                                    @if (item.Lunch)
                                    {
                                        <span>
                                            <small class="iti-feat"><i class="fa fa-cutlery text-danger"></i>&nbsp;&nbsp;Lunch</small> &nbsp;&nbsp;
                                        </span>
                                    }
                                    @if (item.Dinner)
                                    {
                                        <span>
                                            <small class="iti-feat"><i class="fa fa-cutlery text-danger"></i>&nbsp;&nbsp;Dinner</small> &nbsp;&nbsp;
                                        </span>
                                    }
                                    @if (item.Stay)
                                    {
                                        <span>
                                            <small class="iti-feat"><i class="fa fa-building text-info"></i>&nbsp;&nbsp;Stay</small> &nbsp;&nbsp;
                                        </span>
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td></td>
                        <td>
                            <b>No itineraries found for the enquiry !!</b>
                        </td>
                    </tr>
                }
            </table>

        </div>
        <hr />
        <div class="row d-flex justify-content-center">
            <div class="col-md">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            ACTIVITIES
                        </th>
                    </tr>
                    @if (Model.Activities.Count() > 0)
                    {
                        foreach (var item in Model.Activities)
                        {
                            <tr>
                                <td class="text-center p-2">
                                    <div>
                                        <h5> @item.ActivityName</h5>
                                    </div>
                                    <small>
                                        @item.ActivityDesc
                                    </small>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center">
                                <b>No activities found for the enquiry !!</b>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="action-div">
            <a href="/admin/tourpackage/enquiries" class="btn btn-secondary">Back To List</a>
        </div>
    </div>
</div>

