@model TourTravel_Web.Areas.Admin.CustomModels.ItinerarySave
@{
    ViewBag.Title = "AddItinerary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="title-div">
    <i class="fa fa-hand-o-right"></i>&nbsp;
    <span class="title">Itinerary</span>&nbsp;
    <small>Add</small>
</div>
<div class="card bg-light">
    <div class="card-body">
        <div class="text-center">
            <label class="alert alert-info p-2"><small> Fields marked * are mandatory</small></label>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.itinerarie.ItineraryName, new { @class = "required" })
                <div class="col-md p-0">
                    @Html.TextBoxFor(m => m.itinerarie.ItineraryName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.itinerarie.ItineraryName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.itinerarie.ItineraryDesc, new { @class = "required" })
                <div class="col-md p-0">
                    @Html.TextBoxFor(m => m.itinerarie.ItineraryDesc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.itinerarie.ItineraryDesc)
                </div>
            </div>
                <div class="form-group">
                @Html.LabelFor(m => m.itinerarie.OvernightDestinationID)
                <div class="col-md p-0">
                    @Html.DropDownListFor(m => m.itinerarie.OvernightDestinationID, new SelectList(Model.DestinationDD, "DestinationID", "DestinationName"), "----Select Destination----", new { @class = "form-control" })
                </div>
            </div>
            <div class="action-div">
                @Html.ActionLink("Back To List", "itinerarylist", "itineraries", new { Area = "Admin" }, new { @class = "btn btn-secondary btn-sm" })
                <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-save"></i> Save</button>
            </div>
        }
    </div>
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
