@model TourTravel_Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-body pb-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="/account/changepassword" id="passForm">
                    @Html.AntiForgeryToken()
                    <h4 class="text-center">Change Password</h4>
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label required" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "OldPass" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label required" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "NewPass" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label required" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPass" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="LogIn">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}